#edith {
    margin: 2rem auto;
    width: 520px;
}

.edith-content {
    width: 500px;
    height: 400px;
    background-color: #eee;
    outline: none;
    padding: .5rem;
    border: 1px solid #222;
    border-radius: 2px;
}

.edith-menu {
    width: 500px;
    height: 32px;
    background-color: #ddd;
    padding: .5rem;
    margin-bottom: .125rem;
    border: 1px solid #222;
    border-radius: 2px;
    user-select: none;
}

.edith-button {
    display: inline-block;
    background-color: #ccc;
    position: relative;
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}

.edith-button:hover {
    background-color: #eee;
}

.edith-button * {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    user-select: none;
}