#edith {
    margin: 2rem auto;
    width: 520px;
}

.edith-content {
    width: 500px;
    height: 400px;
    background-color: #fafafa;
    outline: none;
    padding: .5rem;
    border: 1px solid #555;
    border-radius: 2px;
}

.edith-content pre {
    background-color: #555;
    color: #fff;
    padding: .25rem;
}

.edith-menu {
    width: 500px;
    background-color: #fdfdfd;
    padding: .5rem;
    border: 1px solid #aaa;
    border-radius: 2px;
    user-select: none;
}

.edith-section {
    display: inline-block;
    margin: .25rem;
}

.edith-button {
    display: inline-block;
    background-color: #eee;
    position: relative;
    height: 2rem;
    width: 2rem;
    margin: 0.1rem;
    cursor: pointer;
    user-select: none;
    border-radius: 2px;
}

.edith-button:hover {
    background-color: #999;
}

.edith-button * {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    user-select: none;
}